body {
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 253, 254);
}

.container {
  border: none;
  border-radius: 15px;
  width: 25vw;
  height:auto;
  color: rgb(253, 244, 197);
  background-color: rgb(43, 34, 146);
  box-shadow: 2px 3px 5px;
}
.header {
  text-align: center;
  font-size: 1.8em;
  font-weight: 900;
  margin-bottom: 15px;
  border-bottom: 1px solid white;
}
.addTask {
  display: flex;
  justify-content: space-evenly;
}
input {
  padding: 7px;
  border-radius: 5px;
}
button:hover {
  border: 1px solid black;
  box-shadow: 2px 2px 2px;
}
button {
  background-color: rgb(247, 249, 207);
  color: rgb(40, 40, 41);
  padding: 3px;
  border-radius: 5px;
}
ul{
  list-style:none;
  padding: 15px;

}
li{
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 5px ;
  padding: 8px;
  margin-bottom: 9px;
}
@media screen and (min-width: 1400px){
  .container{
    margin: 0 auto;

    width: 50vw;
  }
  input {
    width: 80%;
    padding: 13px;
    border-radius: 5px;
  }
}